@use './variables';
.card_text{
    /* background-color: brown; */
    // height: 150px;
    // width: 300;
    font-style:normal;
    font-family: 'Montserrat', sans-serif;
    font-size: 18px;
    text-align:center;
}

.form_alojamiento{
    padding: 100vw;
    
}

.card_title{
    font-family: 'Montserrat', sans-serif;
    font-size: 3vh;
}

.boton_aloj{
    width: 200px;
    height: 6vh;
    font-size: 2vh;
}

.opciones{
    position: absolute;
    z-index: 100;
}



@media screen and (min-width: 1024px) {
.acciones_formato{
    width: 500px;
    font-size: 25px;
}

.acciones_formato li a{
    font-size: 18px;
}
}